.walsh-container {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  flex: 0 0 auto;
}

@media screen and (max-width: 991px) {
  .walsh-container {
    width: auto;
    flex: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .walsh-container {
    width: 100%;
    flex: 0 auto;
  }
}

.divider-block {
  height: 5rem;
}

.walsh-main-grid-no-gap {
  position: relative;

  width: 100%;
  align-items: start;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .walsh-main-grid-no-gap {
    grid-template-columns: 1fr 1fr;
  }
}

.walsh-full-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .walsh-full-image {
    width: 100%;
    max-height: none;
    max-width: none;
    flex: 0 auto;
    object-fit: cover;
  }
}

.walsh-pricing-card-block-featured {
  position: relative;

  display: flex;
  padding: 3em;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-row-gap: 2.5em;

  background-color: var(--walshAzure-d935f6d1);

  box-shadow: inset 1px 1px 0 0 lightgrey, 1px 1px 0 0 lightgrey;
}

@media screen and (max-width: 479px) {
  .walsh-pricing-card-block-featured {
    padding: 30px 30px 40px;
  }
}

.walsh-heading-small-alt {
  padding: 10px 20px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 100px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.25em;
  line-height: 1.25;
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .walsh-heading-small-alt {
    font-size: 1em;
  }
}

.walsh-price-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 0.6em;
}

@media screen and (max-width: 767px) {
  .walsh-price-wrapper {
    width: 100%;
  }
}

.walsh-price {
  margin-bottom: 0px;
  padding-top: 0.18em;
  padding-bottom: 0.18em;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--walshBlack-6ee00df4);
  font-size: 5em;
  line-height: 0.8;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .walsh-price {
    font-size: 40px;
  }
}

.text-span {
  text-decoration: line-through;
}

.walsh-price-small {
  padding-right: 2px;
  padding-left: 2px;
  color: hsla(0, 0.00%, 0.00%, 0.45);
  font-size: 32px;
  font-weight: 400;
}

.walsh-text-grey {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(44, 44, 44, 0.5);
}

.walsh-list-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
}

.walsh-list-flex {
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: hsla(0, 0.00%, 0.00%, 0.65);
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .walsh-list-flex {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }
}

.walsh-circle-check {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border-radius: 100px;

  background-color: hsla(94, 100.00%, 62.72%, 0.20);
}

.walsh-icon-check {
  height: 9px;
}

@media screen and (max-width: 991px) {
  .walsh-icon-check {
    margin-right: 0px;
  }
}

@media screen and (max-width: 479px) {
  .walsh-icon-check {
    margin-bottom: 0px;
  }
}

.walsh-list-flex-off {
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(145, 145, 145, 0.54);
  font-size: 16px;
  text-align: left;
  text-decoration: line-through;
}

@media screen and (max-width: 479px) {
  .walsh-list-flex-off {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}

.walsh-circle-check-off {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border-radius: 100px;

  background-color: hsla(181.22448979591837, 1.54%, 69.53%, 0.28);

  opacity: 0.35;
}

.walsh-button-orange {
  position: relative;
  z-index: 5;

  display: flex;
  padding: 1.2em 35px;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: hsla(8.048780487804876, 100.00%, 67.84%, 1.00);

  transition: background-color 200ms cubic-bezier(.645, .045, .355, 1);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.walsh-button-orange:hover {
  background-color: hsla(14, 100.00%, 76.27%, 1.00);
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .walsh-button-orange {
    padding: 18px 40px;
  }
}

@media screen and (max-width: 991px) {
  .walsh-button-orange:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .walsh-button-orange {
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .walsh-button-orange {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    justify-content: center;
  }
}

#w-node-_8e8a6192-24b9-8205-feab-b93130893367-30893364 {
  align-self: stretch;
  grid-column-end: 7;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_8e8a6192-24b9-8205-feab-b93130893369-30893364 {
  align-self: stretch;
  grid-column-end: 11;
  grid-column-start: 7;
  grid-row-end: 2;
  grid-row-start: 1;
}
@media screen and (max-width: 991px) {
  #w-node-_8e8a6192-24b9-8205-feab-b93130893367-30893364 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_8e8a6192-24b9-8205-feab-b93130893369-30893364 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}
@media screen and (max-width: 767px) {
  #w-node-_8e8a6192-24b9-8205-feab-b93130893367-30893364 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
  #w-node-_8e8a6192-24b9-8205-feab-b93130893369-30893364 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
@media screen and (max-width: 479px) {
  #w-node-_8e8a6192-24b9-8205-feab-b93130893367-30893364 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_8e8a6192-24b9-8205-feab-b93130893369-30893364 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}